<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="conn" value="Server=ASUS\SQLSERVER;Database=TestFile;Trusted_Connection=True;"/>
    <add key="tableFile" value="TestFile"/>
    <add key="tableInfo" value="TestFile"/>
    <add key="fileProperty" value="Size"/>
    <add key="fileContent" value="FileData"/>
    <add key="fileId" value="Id_File"/>
    <add key="consultQuery" value="Select TOP 25 Id_File from TestFile Order by Nome"/>
    <!--<add key ="" value =""/>-->
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
