<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear />
    <add key ="conn" value ="Server=ASUS\SQLSERVER;Database=TestFile;Trusted_Connection=True;"/>
    <add key ="tableSelect" value ="TestFile"/>
    <add key ="tableUpdate" value ="TestFile"/>
    <add key ="updateProps" value ="Id_File,FileData"/>
    <add key ="selectProps" value ="Id_File,FileData"/>
    <add key ="consultQuery" value ="Select Id_File from TestFile"/>
    <!--<add key ="" value =""/>-->
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>